/* fonts go here */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


/*------------------*/
/* ---- general ----*/
/*------------------*/


*, *::after, *::before {
    box-sizing: border-box;  
  }
  
  button, summary {
      cursor: pointer;
  }

  
  :root {
    /* colors */
      --color-background:#eee;
      --color-text-white: #ffffff;

    /* others */
      --angle: 0deg;
  }



/*---------------*/
/* ---- code ----*/
/*---------------*/

@property --hue {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

/* --------------- */
/* GENERAL NESTING */
/* --------------- */


body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #194886 0%, #33184d 50%);
    display: flex;
    justify-content: center;
    align-items: flex-end; 

    & h1 {
        font-family: "Orbitron", sans-serif;
        font-size: clamp(1em, 4em, 9vw);
        position: absolute;
        top: 12%;
        padding: 0;
        margin: 0;
        color: white;

        animation: neon 1.5s infinite alternate;
    }
}


/* ----------------- */
/* CONTAINER NESTING */
/* ----------------- */

main > div:nth-of-type(1) {
    container-name: deck;
    container-type: inline-size;
    min-width: 18.5em;
    max-width: 35.5em;
    resize: horizontal;
    overflow: hidden;
    height: 20em;

    /* Controller container */
    & > div:nth-of-type(1) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.5fr 2fr 2fr; 

        row-gap: 1rem;
        padding: 0;
        background-color:rgb(30, 30, 30);
        background-image: linear-gradient(135deg, rgba(221,221,221,1) 15%, rgba(30,30,30,1) 15%);
    } 

}






/* --------------------------- */
/* START DJ CONTROLLER NESTING */
/* --------------------------- */

main > div:nth-of-type(1) > div:nth-of-type(1) {

    /* 1. the deck text */

    & > div:nth-of-type(1) {
        display: flex;
        font-family: "Rubik Mono One", monospace;
        align-items: center;
        padding-left: 1rem;
    }

    /* 1: equalizer with animation */

    & > div:nth-of-type(2) {
        display: flex;

        grid-column: 2/9;
        background-color: #000;
        height: 2.5rem;
        border-radius: 0.5rem;

        margin: 1rem;
        z-index: 100;

            & > li {
                align-self: flex-end;
                list-style-type: none;
                padding: 0;
                margin: 0 0.25rem 0 0.25rem;

                height: 0.5rem;
                width: 50%;
                background-color: grey;
                animation-delay:var(--delay, 0s);
            }

            & > li:nth-of-type(1) {
                --delay: 0.7s;
            }

            & > li:nth-of-type(2) {
                --delay: 0.2s;
            }

            & > li:nth-of-type(3) {
                --delay: 1.3s;
            }

            & > li:nth-of-type(4) {
                --delay: 0.5s;
            }

            & > li:nth-of-type(6) {
                --delay: 1.5s;
            }

            & > li:nth-of-type(8) {
                --delay: 0.2s;
            }
        }

        /* Jog wheel 1 en 2 */

        & > div:nth-of-type(3),
        & > div:nth-of-type(6) {
            grid-row: 2;
            border-radius: 50%;
            width: 8.5rem;
            height: 8.5rem;
            place-self: center;
            background-color: #363636;
            background: conic-gradient(from 36deg, grey, white,grey);
            box-shadow: inset black 0 0 0 1px, inset rgba(255, 255, 255, 0.3) 0 0 0 0.3em;
        }

        & > div:nth-of-type(3) {
            grid-column: 2;
        }

        & > div:nth-of-type(6) {
            grid-column: 4;
        }

        & > div:nth-of-type(3) > div,
        & > div:nth-of-type(6) > div {
            position: relative;
            margin: 0 auto;
            top: 26%;
            background: repeating-linear-gradient(-45deg, #ff3543, #ff3543 0.1em, #ff4e5b 0.1em, #ff4e5b 0.2em);
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }

        & > div:nth-of-type(3):hover,
        & > div:nth-of-type(6):hover {
            animation: wheel-spin 3s linear infinite;
        }

        /* Deck block met 4 knoppen */

        & > div:nth-of-type(4) {
            grid-row: 3;
            grid-column: 2;
            display: flex;
            justify-content: center;

            & input[type="checkbox"] {
                cursor: pointer;
                width: 2rem;
                height: 2rem;
                margin: 0.4rem 0.1rem 0.4rem 0.4rem;
                border-radius: 0.1rem;
                appearance: none;
                outline: none;
                background: hsl(var(--hue, 0) var(--sat, 0%) 50%); 

                    &:checked {
                        box-shadow: 0 0 0em 0.2rem white;
                    }
            }
        }

          /* OFF/ON block in het midden */

        & > div:nth-of-type(5) {
            grid-row: 2;
            grid-column: 3;
            background-color: #000;
            height: 80%;
            width: 80%;
            border-radius: 0.2rem;
            place-self: center;

            display: grid;
            place-items: center;



            /* off on checkbox: straks stijlen */

                & input[type="checkbox"] {
                    cursor: pointer;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 0.1rem;
                    appearance: none;
                    outline: none;
                    background: linear-gradient(#FFF, #EBF5FC, #EBF5FC);
                    border-radius: 0.2em;
                    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.3), 0 2px 15px          
                                rgba(0, 0, 0, 0.1), 0 -5px 15px rgba(0, 0, 0, 0.15);   
                }

                & input[type="checkbox"]:checked {
                    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.25);
                    background: linear-gradient(#25b146, #1f9d3c, #188131);
                    transform: translateY(5px); 
                }
        }

        /* Slider */
        & input[type="range"] {
            appearance: none;
            background-color: transparent;
            writing-mode: vertical-lr;
            height: 5em;

            &::-webkit-slider-runnable-track {
                cursor: pointer;
                width: 50%;
                background: grey;
                border-radius: 0.5rem;
            }
            
            &::-webkit-slider-thumb {
                position: relative;
                left: -0.4rem;
                -webkit-appearance: none;
                height: 1.2rem;
                width: 1.8rem;
                border-radius: 0.25rem;
                background: white;
                box-shadow: 0 0 5px #000000, 0px 0px 1px #ffffff; /* Add cool effects to your sliders! */
            }
        }

        /* deck block 2 */

        & > div:nth-of-type(7) {
            display: flex;
            grid-row: 3;
            grid-column: 4;

                & input[type="checkbox"] {
                    cursor: pointer;
                    flex-direction: row;
                    width: 4rem;
                    height: 2rem;
                    margin: 0.4rem;
                    border-radius: 0.1rem;
                    appearance: none;
                    outline: none;
                    background: hsl(var(--hue, 0) var(--sat, 0%) 50%); 

                    &:checked {
                        box-shadow: 0 0 0em 0.2em white;
                    }
              }
        }
}


/* ------------------------- */
/* END DJ CONTROLLER NESTING */
/* ------------------------- */




/* ------------ */
/* STAGE LIGHTS */
/* ------------ */

main > div:nth-of-type(2), 
main > div:nth-of-type(3),
main > div:nth-of-type(4),
main > div:nth-of-type(5) {
    position: absolute;
    top: -3rem;
    width: 15rem;
    height: 40rem;
    z-index: 100;

    /* sanne hulp met code */
    height: 80vh;
	aspect-ratio:1/7;
	border-radius:50% / 0 0 2.5vh 2.5vh;
	
	background-image:conic-gradient(at center top,#ccf9 150deg,#ccf6,#ccf9 210deg);
	mask:linear-gradient(red,transparent);
	
	clip-path:polygon(50% 0, 102% 100%, -2% 100%, 50% 0);
	transform-origin:top;
	animation: stage-lights 2s infinite alternate ease-in-out;
    visibility: hidden;
}


/* stage light animation durations and positions */

main > div:nth-of-type(2) {
    left: 5%;
    animation-duration: 4s;
}

main > div:nth-of-type(3) {
    left: 25%;
    animation-duration: 3s;
}

main > div:nth-of-type(4) {
    left: 50%;
    animation-duration: 6s;
}

main > div:nth-of-type(5) {
    left: 75%;
    animation-duration: 2s;
}


/* ---------------- */
/* FLICKERING STARS */
/* ---------------- */

main > div:nth-of-type(6) {
    visibility: hidden;
    
    & > div {
        position: absolute;
        top: 4em;
        left: 50%;

        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        z-index: -1;

        background: white;
        animation: star-flicker 1.5s linear infinite;
    }

    & > div:nth-of-type(1) {
        top: 10em;
        left: 90vw;
        scale: 0.7;
        animation-delay: 0.5s;
    }

    & > div:nth-of-type(2) {
        top: 15em;
        left: 40vw;
        scale: 0.4;
    }

    & > div:nth-of-type(3) {
        top: 35em;
        left: 7vw;
        animation-delay: 0.1s;
    }

    & > div:nth-of-type(4) {
        top: 25em;
        left: 18vw;
        scale: 0.6;
        animation-delay: 0.4s;
    }

    & > div:nth-of-type(5) {
        top: 14em;
        left: 68vw;
        scale: 0.8;
        z-index: -1;
        animation-delay: 0.2s;
    }

    & > div:nth-of-type(6) {
        top: 4em;
        left: 20vw;
        scale: 0.4;
        animation-delay: 0.7s;
    }

    & > div:nth-of-type(7) {
        top: 30em;
        left: 85vw;
        scale: 0.6;
        animation-delay: 0.9s;
    }

    & > div:nth-of-type(8) {
        top: 16em;
        left: 8vw;
        scale: 0.6;
    }
}





/* ------------- */
/* HAS SELECTORS */
/* ------------- */



/* If stage light is checked, then show visibility */

html:has([name="stage1"]:checked) main > div:nth-of-type(2),
html:has([name="stage2"]:checked) main > div:nth-of-type(3),
html:has([name="stage3"]:checked) main > div:nth-of-type(4),
html:has([name="stage4"]:checked) main > div:nth-of-type(5) {
    visibility: visible;
}


/* Had to seperate the color and animation because otherwise it would ignore only the changing color? */
html:has([name="deck-button"]:checked) li {
    animation: equalizer 3s infinite ease;
}

html:has([name="deck-button"]:checked) 
    main div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) li {
    background-color: aqua;
}

html:has([name="deck-button"]:checked) 
    main div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(4) input[type="checkbox"] {
        animation: deck-colors 5s linear infinite;
}

html:has([name="deck-button"]:checked) 
    main div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(7) input[type="checkbox"] {
        animation: deck-colors 5s linear infinite;
}

html:has([name="deck-button"]:checked) 
    main div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) {
        animation: wheel-spin 3s linear infinite;
}

html:has([name="deck-button"]:checked) 
    main div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(6) {
        animation: wheel-spin 3s linear infinite;
}

html:has([name="flickerlights"]:checked) main div:nth-of-type(6) {
    visibility: visible;
}

html:has([name="bg-effect"]:checked) body {
    animation: bg 2.5s linear infinite;
}





/* --------------- */
/* CONTAINER QUERY */
/* --------------- */


@container deck (max-width: 19em) {
    main div:nth-of-type(1) > div:nth-of-type(1) {
        grid-template-columns: 0.5fr 1fr 1fr;

        /* Jog wheel 2 + label */
        & > div:nth-of-type(6) > div,
        & > div:nth-of-type(6), 
         /* Deck block 2 */
        & > div:nth-of-type(7) {
            display: none;
        }

        & > div:nth-of-type(2) {
            grid-column: 2 / 4;
        }
    }
}



/* -------------------- */
/* KEY FRAME ANIMATIONS */
/* -------------------- */


@keyframes equalizer {
    0% {
        height: 0.3em;
    }
    20% {
        height: 1.2em;
    }
    40% {
        height: 0.9em;
    }
    60% {
        height: 0.4em;
    }
    80% {
        height: 1.8em;
    }
    100% {
        height: 1em;
    }
    50% {
        height: 0.5em;
    }
    10% {
        height: 0em;
    }
}

@keyframes stage-lights {
    0% {
        transform: rotate(0deg); 
    }
    
    25% {
        transform: rotate(35deg); 
    }

    50% {
        transform: rotate(0deg); 
    }

    75% {
        transform: rotate(-35deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
  }

  @keyframes deck-colors {
	0% {
		--hue:calc(0 + 360 / 4 * 6);
        --sat: 100%;
	}
	100% {
		--hue:calc(360 + 360 / 4 * 6);
        --sat: 100%;
	}
}


@keyframes wheel-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


@keyframes star-flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }


  @keyframes neon {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
            0 0 4px white,
            0 0 8px white,
            0 0 25px aqua,
            0 0 35px aqua,
            0 0 55px aqua
    }

    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
@keyframes bg {
    0% {
        background: linear-gradient(135deg, #80d026 0%, #07256b 50%);
    }

    50% {
        background: linear-gradient(135deg, #194886 0%, #33184d 50%);
    }

    100% {
        background: linear-gradient(135deg, #cd5e2b 0%, #64086f 50%)
    }
}