/* fonts go here */



/*------------------*/
/* ---- general ----*/
/*------------------*/


*, *::after, *::before {
    box-sizing: border-box;  
  }
  
  button, summary {
      cursor: pointer;
  }

  
  :root {
    /* colors */
    
      --color-background:#eee;
      --color-text-white: #ffffff;

    /* others */

    --angle: 0deg;
  }



/*---------------*/
/* ---- code ----*/
/*---------------*/

h1 {
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(98, 15, 104);
}


/* controller container */
main > div:nth-of-type(1) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.5fr 2fr 2fr 1fr 1fr; 

    row-gap: 1rem;
   
    padding: 0;
    background-color:rgb(30, 30, 30);
    background-image: linear-gradient(135deg, rgba(221,221,221,1) 15%, rgba(30,30,30,1) 15%);;

    bottom: -20rem;
    width: 100%;
    left: 15rem;

    max-width: 35rem;
    height:20rem;
}

/* 1: equalizer with animation */
main > div:nth-of-type(1) > div:nth-of-type(2) {
    grid-column: 2/5;
    background-color: #000;

    max-width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;

    margin: 1rem;
    z-index: 100;
}


/* ------------------*/
/* jog wheel 1 and 2 */
/* ------------------*/


main > div:nth-of-type(1) > div:nth-of-type(3) {
    background-color: rgb(182,181,181);
    grid-row: 2/4;
    grid-column: 2/4;
    border-radius: 50%;
    width: 100%;
    height: 110%;
}
main > div:nth-of-type(1) > div:nth-of-type(3):hover {
    animation: wheel-spin 3s linear infinite;
    background: conic-gradient(from 36deg, crimson,dodgerblue,crimson);
}

main > div:nth-of-type(1) > div:nth-of-type(5) {
    background-color: rgb(182,181,181);
    grid-row: 2/4;
    grid-column: 6/8;
    border-radius: 50%;
    width: 100%;
    height: 110%;
}

@keyframes wheel-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/* 3: deck block */
main > div:nth-of-type(1) > div:nth-of-type(4) {
    position: relative;
    top: 0.5rem;
    display: flex;
    justify-content: center;
    grid-row: 4/5;
    grid-column: 2/4;
}

main > div:nth-of-type(1) > div:nth-of-type(4) input[type="radio"] {
    width: 2rem;
    height: 2rem;
    margin: 0.4rem;
    background-color: aqua;
    border-radius: 0.1rem;
    appearance: none;
    outline: none;
}

main > div:nth-of-type(1) > div:nth-of-type(4) input[type="radio"]:hover {
    background-color: green;
}



/* stage lights */
main > div:nth-of-type(2) {

    position: absolute;
    top: -3rem;
    left: 50%;
    width: 15rem;
    height: 40rem;
    z-index: 100;

    clip-path: polygon(45% 0, 50% 0, 65% 100%, 32% 100%);

    background: linear-gradient(0.25turn,rgba(254, 225, 189, 0.7), rgba(255,255,100,0));
    transition: ease-in-out 4s; 

    animation-duration: 8s;
    animation-name: stage-lights;
    animation-iteration-count: infinite;
}

@keyframes stage-lights {
    0% {
        transform: rotate(0deg); 
    }
    
    25% {
        transform: rotate(35deg); 
    }

    50% {
        transform: rotate(0deg); 
    }

    75% {
        transform: rotate(-35deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
  }